.sidebar {
  display: flex;
  flex-direction: row;
}

.sidebar__image {
  margin-right: 16px;
}

.sidebar__avatar {
  height: 56px;
  width: 56px;
}

.sidebar__name {
  margin-right: 117px;
  font-family: "Cabinet Grotesk", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
}
