.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal__content {
  position: relative;
  background-color: white;
  width: 496px;
  height: 436px;
  border-radius: 20px;
  padding: 34px 36px;
  margin-left: 28px;
}

/* .modal__form {
  position: relative;
}   */

.modal__button-reset {
  position: absolute;
  right: 28px;
  top: 20px;
  border: none;
  background: none;
  color: black;
}

.modal__close {
  height: 20px;
}

.modal__title {
  margin: 28px auto 24px 0;
  font-family: "Cabinet Grotesk", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.modal__button-submit {
  margin: 34px 0 36px 0;
  background-color: rgba(0, 0, 0, 1);
  border-radius: 4px;
  border-style: none;
  height: 36px;
  width: 124px;
  color: white;
  cursor: pointer;
}

.modal__button-submit:hover {
  opacity: 0.6;
}

.modal__button_two {
  background-color: white;
  border: none;
  width: 125px;
  height: 30px;
  font-family: 'Cabinet Grotesk', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
}

.modal__button_register {
  position: absolute;
  left: 162px;
  bottom: 31px;
}

.modal__button_login {
  position: absolute;
  left: 162px;
  bottom: 181.5px;
}
