.card__name {
  text-align: center;
}

.card__image {
  width: 328px;
  height: 328px;
  border-radius: 10px;
  cursor: pointer;
}

.card__button-like_visible {
  display: inline-block;
}

.card__button-like_hidden {
  display: hidden;
}