.main {
  padding: 0px 20px;
}

.temp__section {
  display: flex;
  font-family: "Cabinet Grotesk", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
}

.card__section {
  display: flex;
  margin-top: 34px;
}

.card__items {
  display: flex;
  flex-wrap: wrap;
  gap: 17px;
  justify-content: center;
  margin-top: 34px;
}
