.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  padding: 0px 20px;
}

.header__section-one {
  display: flex;
  align-items: center;
  gap: 24px;
  flex-direction: row;
}

.header__logo {
  width: 89px;
  height: 40px;
}

.header__section-two {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-direction: row;
}

.header__button {
  border: none;
  background: none;
  font-family: "Cabinet Grotesk", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  cursor: pointer;
}

.header__button:hover {
  opacity: 0.6;
}

.header__name {
  font-family: "Cabinet Grotesk", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.header__date {
  font-family: "Cabinet Grotesk", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
}

.header__profile {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  align-items: center;
}

.header__avatar-logo {
  margin-left: 12px;
  width: 40px;
  height: 40px;
}

.header__button_nl {
  color: black;
  background-color: white;
  border: none;
  font-family: "Cabinet Grotesk", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
