.modal {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal__pic {
  position: relative;
  background-color: white;
  color: black;
  height: 400px;
  border-radius: 10px;
  width: 425px;
  height: 500px;
}

.modal__container_image{
  width: 425px;
}

.modal__image {
  border-radius: 16px 16px 0 0;
  cursor: pointer;
  max-width: 425px;
  height: 380px;
}

.modal__button-reset {
  border: none;
  background: none;
  cursor: pointer;
}

.modal__close {
  height: 20px;
  top: 27px;
  right: 27px;
}

.modal__button-reset:hover {
  opacity: 0.6;
}

.modal__text {
  font-family: "Cabinet Grotesk", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.modal__information {
  display: flex;
  justify-content: space-between;
  margin-left: 32px;
  margin-right: 32px;
  margin-top: 12px;
}

.modal__description {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.modal__button-delete {
  font-family: "Cabinet Grotesk", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ff4d00;
  border: none;
  background: none;
}

.modal__button-delete:hover {
  opacity: 0.5;
}

.modal__button-delete_visible {
}

.modal__button-delete_hidden {
  display: hidden;
}
