.footer {
  display: flex;
  justify-content: space-between;
  margin: 85px 24px 24px 40px;
}

.footer__text {
  font-family: "Cabinet Grotesk", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
